<div class="dock">
  <!-- ホーム -->
  <%= link_to (user_signed_in? ? anti_habits_path : root_path) do %>
    <button>
      <i class="fas fa-home text-lg"></i>
      <span class="dock-label">ホーム</span>
    </button>
  <% end %>

  <!-- 新規登録 / 新規投稿 -->
  <% if user_signed_in? %>
    <%= link_to new_anti_habit_path do %>
      <button>
        <i class="fas fa-plus text-lg"></i>
        <span class="dock-label">新規投稿</span>
      </button>
    <% end %>
  <% else %>
    <%= link_to new_user_registration_path do %>
      <button>
        <i class="fas fa-user-plus text-lg"></i>
        <span class="dock-label">新規登録</span>
      </button>
    <% end %>
  <% end %>

  <!-- ログイン / マイページ -->
  <% if user_signed_in? %>
    <%= link_to user_path(current_user) do %>
      <button>
        <i class="fas fa-user text-lg"></i>
        <span class="dock-label">マイページ</span>
      </button>
    <% end %>
  <% else %>
    <%= link_to new_user_session_path do %>
      <button>
        <i class="fas fa-sign-in-alt text-lg"></i>
        <span class="dock-label">ログイン</span>
      </button>
    <% end %>
  <% end %>
</div>